* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  min-height: 100vh;
  transition: filter 0ms ease-in-out 200ms;
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 100px;
}

.content h2 {
  font-size: 40px;
}

.content img {
  width: 400px;
}

.content button {
  cursor: pointer;
}

.content > * {
  margin: 10px 0;
}

.popup {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 450px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.08);
  border: 10px;
  margin-top: -25px;
}

.popup > * {
  margin: 15px 0;
}

.popup .close-btn {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #111;
  background-color: #eee;
  cursor: pointer;
  transition: top 0ms ease-in-out 0ms, opacity ease-in-out 300ms,
    margin-top ease-in-out 300ms;
}

body.active-popup {
  overflow: hidden;
}

body.active-popup .main {
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.08);
  transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup {
  top: 50%;
  opacity: 1;
  margin-top: 0;
  transition: top 0ms ease-in-out 0ms, opacity ease-in-out 300ms,
    margin-top ease-in-out 300ms;
}
